extends layout

block content
    #page-wrapper
        <!-- Header -->
        header#header.alt
            h1
                a(href="index.html") Ani
            nav
                a(href="#menu") Menu
            nav#menu
                .inner
                    h2 Menu
                    ul.links
                        li
                            a(href="index.html") Home
                        li
                            a(href="generic.html") Generic
                        li
                            a(href="elements.html") Elements
                        li
                            a(href="#") Log In
                        li
                            a(href="#") Sign Up
                    a(href="#" class="close") Close
        section(id="banner")
            div.inner
                div.logo
                    span.icon.fa-eye
                h2.logotitle
                    span This is
                    .logoscroll.active Ani
                    .logoscroll Convenience
                    .logoscroll Flawless integration
                    .logoscroll Animation
                p An interactive assistant for your home
        section#wrapper
            <!-- One -->
            section#one.wrapper.spotlight.style1
                .inner
                    a(href="#" class="image")
                        img(src="images/pic01.png", alt="")
                    .content
                        h2.major Magna arcu feugiat
                        p Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
                        a.special(href="#") Learn more

            <!-- Two -->
            section#two.wrapper.alt.spotlight.style2
                .inner
                    a(href="#" class="image")
                        img(src="images/pic02.png", alt="")
                    .content
                        h2.major Magna arcu feugiat
                        p Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
                        a.special(href="#") Learn more

            <!-- Three -->
            section#three.wrapper.alt.flip
                .inner
                    h2.major Vitae phasellus
                    p Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.
                    section(class="features")
                        article
                            h3 Powerful hardware
                            p Equipped with wide-angle 1080p cameras, IR sensord, 3D depth mapping capabilities and pin-drop microphones.
                        article
                            h3 Easy to adopt
                            p The Ani system has been designed for family use, with special attention paid towards accessibility for youth and the elderly.
                        article
                            h3 A helping hand
                            p Ani provies personalised assistance when you need it most, whether it be friendly reminders or help in an emergency.
                        article
                            h3 Affordable
                            p The Ani system has been refined and optimised to make home-wide implementations easy and affordable.
                    ul(class="actions")
                        li
                            a(href="#", class="button") Browse all

    <!-- Footer -->
    section#footer
        .inner
            h2 User stories
            p Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.
            section(class="user-story")
                article
                    .user
                        img(src="/images/ryan.gif")
                    .story
                        h3 Ryan
                        p Ryan likes to listen to music in the shower, he trusts Ani with the playlist
                article
                    .user
                        img(src="/images/stacy.gif")
                    .story
                        h3 Stacy
                        p Equipped with wide-angle 1080p cameras, IR sensord, 3D depth mapping capabilities and pin-drop microphones.
                article
                    .user
                        img(src="/images/peter.gif")
                    .story
                        h3 Peter
                        p Equipped with wide-angle 1080p cameras, IR sensord, 3D depth mapping capabilities and pin-drop microphones.

            ul.contact
            li.fa-home
                | Untitled Inc
                br
                | 1234 Somewhere Road Suite #2894
                br
                | Nashville, TN 00000-0000
            li.fa-phone (000) 000-0000
            li.fa-envelope
                a(href='#') information@untitled.tld
            li.fa-twitter
                a(href='#') twitter.com/untitled-tld
            li.fa-facebook
                a(href='#') facebook.com/untitled-tld
            li.fa-instagram
                a(href='#') instagram.com/untitled-tld
            ul.copyright
                li © Untitled Inc. All rights reserved.
                    li
                        | Design:
                        a(href='http://html5up.net') HTML5 UP

block footerScripts
    script(type='text/javascript', src='/javascripts/skel.min.js')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/jquery.scrollex.min.js')
    script(type='text/javascript', src='/javascripts/main.js')
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    script(type='text/javascript', src='/javascripts/util.js')
